@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO Azure App Services</h1>
    <h3>
        @ViewData["Tesztconfig"]
    </h3>
    <p>
        We are here to learn about the different Microsoft Azure features and .NET Core Development
    </p>
</div>
